<!-- <p>alta-chofer works!</p> -->
 <app-header></app-header>
<div>
    <a class="button" [routerLink]="['/bienvenida']">
      <div class="button-box">
          <span class="button-elem">
              <!-- Icono de vuelta a Home -->
               <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                  <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
                </svg>
          </span>
      </div>
  </a>
  </div> 

  <div class="altas-choferes-container">
    <h2>Alta de Chofer</h2>
    <form *ngIf="!completed" [formGroup]="choferForm" (ngSubmit)="altaChofer()">
      
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type = "text" id="nombre" formControlName="nombre" required class="form-control"/>
            <div *ngIf="choferForm.get('nombre')?.invalid && (choferForm.get('nombre')?.touched || submitted)" class="error-message">
              Este campo es obligatorio.
              Solo debe contener letras
            </div>
          </div>
        
          <div class="form-group">
            <label for="dni">DNI:</label>
            <input id="dni" type="number" formControlName="dni" required class="form-control"/>
            <div *ngIf="choferForm.get('dni')?.invalid && (choferForm.get('dni')?.touched || submitted)" class="error-message">
              Este campo es obligatorio.
            </div>
            <div *ngIf="choferForm.get('dni')?.hasError('pattern')" class="error-message">
                El DNI debe ser un número válido de 8 dígitos.
              </div>
          </div> 



          <div class="form-group">
            <label for="edad">Edad:</label>
            <input id="edad" type="number" formControlName="edad" required class="form-control"/>
            <div *ngIf="choferForm.get('edad')?.invalid && (choferForm.get('edad')?.touched || submitted)" class="error-message">
              Este campo es obligatorio.
            </div>
            <div *ngIf="choferForm.get('edad')?.hasError('min') || choferForm.get('edad')?.hasError('max')" class="error-message">
              Debe ser mayor de 18 y menor de 50 años.
            </div>
          </div>  


          <div class="form-group">
            <label for="nrolicencia">Número de Licencia:</label>
            <input  type = "text" id="nrolicencia" formControlName="nrolicencia" required class="form-control"/>
            <div *ngIf="choferForm.get('nrolicencia')?.invalid && (choferForm.get('nrolicencia')?.touched || submitted)" class="error-message">
              El número de licencia debe tener un minimo de 7 dígitos.
              <!-- Este campo es obligatorio. -->
            </div>
            <div *ngIf="choferForm.get('nrolicencia')?.hasError('pattern')" class="error-message">
              Debe ser un número válido.
            </div>
          </div>

          <div class="form-group">
            <label for="licencia">¿Tiene Licencia Profesional:?</label>
            <input id="licencia" type="checkbox" formControlName="licencia" />
          </div>

         
  
      <div class="form-group">
        <label for="paisOrigen">País de origen:</label>
        <select id="paisOrigen" formControlName="paisOrigen" class="form-select" (change)="onPaisChange($event)">
            <option value="" disabled>Selecciona un país</option>
            <option *ngFor="let pais of paises" [value]="pais.codigo">{{ pais.nombre }}</option>
        </select>
          
        <div *ngIf="choferForm.get('paisOrigen')?.invalid && choferForm.get('paisOrigen')?.touched" class="error">
          Debe seleccionar un país de origen.
        </div>
      </div>
      
      <div *ngIf="paisSeleccionado" class="pais-seleccionado">
          <h3>País Seleccionado:</h3>
          <p><strong>Nombre:</strong> {{ paisSeleccionado.nombre }}</p>
          <p><strong>Continente:</strong> {{ paisSeleccionado.continente }}</p>
          <img [src]="paisSeleccionado.banderaUrl" alt="Bandera de {{ paisSeleccionado.nombre }}" width="50">
      </div>
    
      <!-- <button type="submit" [disabled]="choferForm.invalid">Alta chofer</button> -->
      <br>
      <button type="submit" class="submit-btn">Alta Chofer</button>
    </form>
    
</div>

<!-- Overlay del spinner que aparece en el centro -->
<div *ngIf="isLoading" class="spinner-overlay">
    <div class="spinner"></div>
    <!-- <p>Enviando encuesta...</p> -->
  </div>
  
  <!-- Mensaje de confirmación que aparece después de enviar -->
  <div *ngIf="completed" class="confirmation-message">
    <p>😊Chofer dado de alta satisfactoriamente. ¡Carga terminada! 😊</p>
  </div>

<p *ngIf="submitted && choferForm.invalid" class="error-message">Por favor completa todos los campos obligatorios.</p>

