<!-- <p>registro works!</p> -->

<app-header></app-header>
 <!-- <body>
    <div class="login-container">
        <div class="login-box">
            <h1>Bienvenido</h1>
            <p>¡Registra tus credenciales para iniciar!</p>

            <form (ngSubmit)="Register()">
                <div class="form-group">
                    <label for="email">Usuario (Email):</label> 
                    <input id="email" [(ngModel)]="newUserMail" name="email" type="email" required  placeholder="Usuario" />
                </div> 

                 <div class="form-group"> 
                     <label for="password">Clave:</label> 
                    <input id="password" [(ngModel)]="newUserPWD" name="password" type="password" required  placeholder="Contraseña" />
                </div> 

               <button type="submit" class="btn">Registrarse</button>
            </form>
            Aquí se muestra el mensaje de error si flagError es true
            <div *ngIf="flagError" class="error-message">
                {{ msjError }}
            </div> 
            Aquí se muestra el mensaje de éxito si msjExito tiene contenido
            <div *ngIf="msjExito" class="success-message">
                {{ msjExito }}
            </div>
         </div>
    </div>
</body>  --> 

<!-- registro.component.html este registro para acepta condiciones -->
<app-header></app-header>



 <body>
  <div class="login-container">
    <div class="login-box">
      <h1>Bienvenido</h1>
      <p>¡Registra tus credenciales para iniciar!</p>

      <form (ngSubmit)="Register()" #registroForm="ngForm">
       
         <!-- Email -->
         <div class="form-group">
          <input 
            id="email" 
            [(ngModel)]="newUserMail" 
            name="email" 
            type="email" 
            required 
            placeholder="Correo Electrónico" 
            #email="ngModel"
          />
          <div *ngIf="email.invalid && email.touched" class="error-message">
            El correo electrónico es obligatorio y debe tener un formato válido.
          </div>
        </div>

        <!-- Contraseña -->
         <div class="form-group">
          <input 
            id="password" 
            [(ngModel)]="newUserPWD" 
            name="password" 
            type="password" 
            required 
            placeholder="Contraseña" 
            minlength="6" 
            #password="ngModel"
          />
          <div *ngIf="password.invalid && password.touched" class="error-message">
            La contraseña es obligatoria y debe tener al menos 6 caracteres.
          </div>
        </div>

        <!-- Botón de envío -->
        <button type="submit" class="btn" [disabled]="registroForm.invalid">Registrarse</button>
      </form>

       <!-- Mensajes de error o éxito -->
      <div *ngIf="flagError" class="error-message">
        {{ msjError }}
      </div>
      <div *ngIf="msjExito" class="success-message">
        {{ msjExito }}
      </div>
    </div>
  </div>
</body> 
