<app-header></app-header>
<body>
  <div class="login-container">
    <div class="login-box">
      <h1>Acepta los Términos y Condiciones</h1>
      <p>Por favor, revisa y acepta los términos para continuar.</p>

      <form (ngSubmit)="acceptTerms()" #termsForm="ngForm">
        <!-- Correo Electrónico -->
        <div class="form-group">
          <input 
            id="email" 
            [(ngModel)]="userEmail" 
            name="email" 
            type="email" 
            required 
            placeholder="Correo electrónico" 
            #email="ngModel"
           
          />
          <div *ngIf="email.invalid && email.touched" class="error-message">
            El correo electrónico es inválido.
          </div>
        </div>

        <!-- Aceptar términos -->
        <div class="form-group">
          <label for="terms">
            <input 
              type="checkbox" 
              id="terms" 
              [(ngModel)]="acceptedTerms" 
              name="terms" 
              required
            /> 
            Acepto los <a href="#">términos y condiciones</a>
          </label>
          <div *ngIf="!acceptedTerms && termsForm.touched" class="error-message">
            Debes aceptar los términos y condiciones.
          </div>
        </div>

        <!-- Botón de envío -->
        <button type="submit" class="btn" [disabled]="termsForm.invalid">Aceptar</button>
      </form>

      <!-- Mensajes de error o éxito -->
      <div *ngIf="flagError" class="error-message">
        {{ msjError }}
      </div>
      <div *ngIf="msjExito" class="success-message">
        {{ msjExito }}
      </div>
    </div>
  </div>
</body>

