<!-- <p>chofer-pais works!</p> -->

  <h1> Informacion General</h1>
   <div class="container">
    <!-- Contenedor con la lista de productos -->
    <div class="jumbotron scrollable-list">
      <app-listados-choferes (choferSeleccionado)="seleccionarChofer($event)"></app-listados-choferes>
    </div>
  
    <!-- Contenedor para el detalle del producto y el país de origen en una fila debajo de la lista -->
    <div class="details-container">
      <!-- Columna izquierda para el detalle del producto -->
      <div class="background" *ngIf="choferSeleccionado">
        <h1>Detalle del Chofer Seleccionado</h1>
        <app-detalle-chofer [chofer]="choferSeleccionado"></app-detalle-chofer>
      </div>
  
      <!-- Columna derecha para el detalle del país de origen -->
      <div class="borders" *ngIf="pais">
        <h1>Datos del País de Origen</h1>
        <app-detalle-pais [pais]="pais"></app-detalle-pais>
      </div>
    </div>
  </div>
  